@model IEnumerable<CollegeManagement.Models.SubjectModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subjects</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <h2>Subjects</h2>
    <p>
        @Html.ActionLink("Add New Subject", "Create")
    </p>

    <table class="table">
        <tr>
            <th>Subject Name</th>
            <th>Action</th>
        </tr>

        @foreach (var subject in Model)
        {
            <tr>
                <td>@subject.SubjectName</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = subject.SubjectID })" class="btn btn-link">
                        <i class="fas fa-edit"></i>
                    </a> |
                    <a href="@Url.Action("Delete", new { id = subject.SubjectID })" class="btn btn-link">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </table>
</body>
</html>
